:root{
    --color1: #21221C;
    --color2: #505F58;
    --color3: #B38971;
    --color4: #7E4939;
    --color5: #4F302B;
    --color6: #ecf0f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
}

h1{font-size: 2.3rem;}
h2{font-size: 2rem;}
h3{font-size: 1.7rem;}
h4{font-size: 1.4rem;}

/* p{
    font-family: 'Montserrat', sans-serif;
    font-kerning: 1.1em;
    word-spacing: .25em;
    line-height: 1.4em;
} */

li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

nav{
    z-index: 99;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
    nav ul{
        display: inline-block;
    }

    nav ul.nav-links li{
        list-style: none;
        display: inline-block;
        margin-right: 1rem;
    }

    nav ul.nav-links li a{
        color: white;
        text-decoration: none;
        padding: 3px 5px;
    }

    nav ul.nav-links li a:hover{
        /* color: orange; */
        border-bottom: 2px solid orange;
    }

    nav ul.language-links{
        transform: translateY(5px);
    }

    nav ul.language-links li{
        display: inline-block;
        list-style: none;
    }

    nav ul.language-links li a:hover .language-flag{
        border-color: var(--color6);
    }

    .language-flag{
        height: 24px;
        width: auto;
        border-radius: 50%;
        border: 1px solid transparent;
    }


header{
    position: relative;
    color: white;
    padding-top: 150px;
    height: 100vh;
}

    header video{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    header .video-overlay{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6));
        z-index: -1;
    }

    .header-caption{
        width: 50%;
    }

    .header-caption h1{
        margin-bottom: .5em;
        font-weight: 900;
        font-size: 3rem;
        line-height: 3.1rem;
        text-shadow: 0 0 12px rgba(0,0,0,0.6);
    }

    .header-caption p{
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1.5rem;
        font-weight: 300;
        margin-bottom: 15px;
    }

section#quality{
    padding: 45px 0;
    background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url('../assets/coffe-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    section#quality .container{
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }

    section#quality .container .content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    section#quality .container .image {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    section#quality .container .image img{
        width: 75%;
        height: auto;
    }

    section#quality h2{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        font-weight: 900;
        color: var(--color6);
        text-shadow: 0 0 12px rgba(0,0,0,0.6);
    }

    section#quality p{
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin-bottom: 10px;
        color: var(--color6);
        font-weight: 300;
    }

section#us{
    padding: 45px 0;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0.4)) var(--color5);
    /* background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0)), url('../assets/wooden-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

    section#us .cards{
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
    }

    .card{
        width: calc((100% / 3) - 45px);
        background: var(--color6);
        position: relative;
        box-shadow: 0 1px 8px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
    }

    .card-img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-body{
        padding: 25px;
        color: #2c3e50;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

        .card-body h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            line-height: 1.5rem;
        }
        
        .card-body p{
            font-size: .95rem;
            line-height: 1.3rem;
            margin-bottom: 15px;
        }

        .card-link{
            font-size: .95rem;
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            color: var(--color6);
            background-color: var(--color5);
            align-self: flex-end;
        }

        .card-link:hover{
            background-color: var(--color4);
        }

        .card-link::after{
            content: '';
            position: absolute;
            display: block;
            top: 0; left: 0; right: 0; bottom: 0;
        }

section#certificates{
    padding: 45px 0;
    /* background-color: var(--color1); */
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url('../assets/coffe-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    section#certificates .container{
        display: flex;
    }

    section#certificates h2{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        font-weight: 900;
        color: var(--color6);
        text-shadow: 0 0 12px rgba(0,0,0,0.6);
    }

    section#certificates p{
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin-bottom: 10px;
        color: var(--color6);
        font-weight: 300;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .cert-list{
        width: 50%;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .cert-list .item{
        width: calc((100% / 3) - 30px);
        padding-top: calc((100% / 3) - 5%);
        min-height: 45px;
        /* background-color: var(--color6); */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .cert-list .item img{
        width: 100%;
        height: auto;
    }


section#news{
    padding: 45px 0;
    background: var(--color1);
}

    section#news .container{
        display: flex;
        justify-content: space-between;
    }

    .articles{
        position: relative;
        background: var(--color2);
        width: calc((100% / 4) - 20px);
        height: 300px;
    }

    .articles img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-body{
        position: absolute;
        bottom: 0; left: 0; right: 0;
        padding: 2.5rem 1rem 1rem 1rem;
        color: var(--color6);
        background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0));
    }

    .article-body h4{
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }

    .article-body p{
        font-size: .9rem;
    }

section#bottom{
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url('../assets/wooden-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0;
}

    section#bottom .content{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: stretch;
    }

    section#bottom .content .column{
        flex-grow: 1;
    }

    .list-item{
        padding-bottom: .7rem;
        color: var(--color6);
    }

    .list-item a{
        text-decoration: none;
        color: inherit;
    }

    .list-item h4{
        margin-bottom: 0.5rem;
        color: orange;
        text-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

    .list-item p{
        font-size: .8rem;
        line-height: 1.5em;
        margin-bottom: 10px
    }

footer{
    background: var(--color1);
    color: var(--color6);
    padding: 30px 0 40px;
    font-size: 0.8rem;
    text-align: center;
}
    .social-icons{
        margin-bottom: 35px;
    }

    .social-icons li{
        list-style: none;
        display: inline-block;
        margin-right: 25px;
    }

    .social-icons li a{
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 42px;
        width: 42px; height: 42px;
        border-radius: 50%;
        position: relative;
    }

    .social-icons li a img{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 32px;
        height: 32px;
    }

.container{
    max-width: 1100px;
    margin: 0 auto;
}

a.link-rounded{
    font-size: .9rem;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 16px;
    border: 1px solid var(--color6);
    color: var(--color6);
    text-align: center;
}

a.link-rounded:hover{
    background-color: var(--color6);
    color: var(--color1);
}

a.link{
    display: inline-block;
    padding: 10px 22px;
    margin-top: 15px;
    text-decoration: none;
}

a.link-primary{
    background: var(--color5);
    color: var(--color6);
}

a.link-primary:hover{
    background: var(--color4);
}

a.link-secondary{
    background: var(--color1);
    color: var(--color6);
}

a.link-secondary:hover{
    background: var(--color2);
}

.bold{
    font-weight: bold;
}

.mt-1{margin-top: .5rem;}
.mt-2{margin-top: 1rem;}
.mt-3{margin-top: 1.5rem;}
.mt-4{margin-top: 2.5rem;}

.mb-1{margin-bottom: .5rem;}
.mb-2{margin-bottom: 1rem;}
.mb-3{margin-bottom: 1.5rem;}
.mb-4{margin-bottom: 2rem;}

.ml-1{margin-left: .5rem;}
.ml-2{margin-left: 1rem;}
.ml-3{margin-left: 1.5rem;}
.ml-4{margin-left: 2rem;}

.d-block{
    display: block;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-monserrat{
    font-family: 'Montserrat', sans-serif;
}

span.highlight{
    color: orange;
}